html {
    margin: 0;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(97, 97, 181, 1) 41%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    width: 100vw;
  
}


body {
    
    display: flex;
    flex-direction: column; /*elemente sind vertikal positioniert */
    align-items: center;
    justify-items: center;
}

/* header */
h1,h2,h3 {
    color: white;
}

.nav-bar {
    display: flex; 
    column-gap: 20px;
    width: 100vw;
} 

a {
     font-size: 14px;
     text-decoration: none;
     color: white;
}
a:hover {

    display: flex;
    transform: scale(1.2);
}
li {
    list-style: none;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.list-item-container {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.list-item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: transparent;
    height: 30px;
    width: 100px;
    text-align: center;
    list-style-type: none;
}

.delete-btn {
    align-self: flex-end;
}

.delete-btn:hover {
    scale: 1.2;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.new-todo {
    margin-top: 10px;
}